body {
    background: url("http://365psd.ru/images/backgrounds/bg-light-4868.png");
}

#custom-search-input {
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input {
    border: 0;
    box-shadow: none;
}

#custom-search-input button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover {
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
    font-size: 23px;
}

a {
    color: #0a061a;
    text-decoration: none;
}

s9.a {
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    letter-spacing: 1px;
    margin: 0 10px;
    font-size: 16px;
    font-family: 'Fredoka One', cursive;
    transition: .3s ease-in-out;
}

.s9 {
    color: #B2BBC0;
    text-shadow: 1px 0 #4D575D;
}

.s9:hover {
    transform: rotate(-5deg);
}

button:active, button:focus {
    outline: none !important;
}

button::-moz-focus-inner {
    border: 0 !important;
}

.img100 {
    min-width: 100%;
    height: auto;
}

.box{
    position: relative;
    width: 50%;		/* desired width */
}
.box:before{
    content: "";
    display: block;
}