body {
    background: url("/images/bg/pink dust.png");
    font-size: 18px;
    font-family: 'Exo 2', sans-serif;
}

#settings-form {
    color: white;
}

#friends img {
    float:left;
    padding: 5px;
}