body {
    background: url("/images/bg/wheat.png");
    width: 100%;
    height: 100%;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}

.content-slider {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 853px;
}
